<!DOCTYPE html
  PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>MasterCard 결제수단 추가 세팅 안내</title>
  <style>
    * {
      -webkit-text-size-adjust: 100%;
      -moz-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
      word-break: break-all;
    }
  </style>
</head>

<body style="margin:0">
  <div style="max-width:700px; margin:0 auto; background:#fff; box-sizing: border-box; border-top: 4px solid #222">
    <table cellpadding="0" cellspacing="0" style="width:100%; padding: 60px 30px;">
      <tbody>
        <tr>
          <td><a href="https://www.eximbay.com/" target="_blank" style="padding:0 0 40px; display:inline-block"><img
                src="https://img-cld.eximbay.com/images/eximbay_logo_2020.png"></a>
            <h3 style="font:bold 34px/1.5 맑은고딕, 나눔고딕, sans-serif; color:#222; padding-bottom:20px; margin:0;">
              MasterCard 결제수단 <br>추가 세팅 안내</h3>
            <p style="font:14px/1.7 맑은고딕, 나눔고딕, sans-serif; color:#666;">안녕하세요. Eximbay 입니다. <br><br>

              Master Card 서브몰 등록 절차가 완료되어 결제수단이 추가 세팅되었습니다. <br>
              현시점부터는 Master Card 결제도 이용 가능하오니, 업무에 참고하여 주시기 바랍니다. <br><br>

              감사합니다. <br>
              Eximbay 드림
            </p>
          </td>
        </tr>
      </tbody>
    </table>
    <table cellpadding="0" cellspacing="0" style="width:100%; background: #f9f9f9; padding:30px 20px;">
      <tr>
        <td width="25%" style="text-align:center; padding:0 30px 0 0">
          <a href="https://www.eximbay.com/" target="_blank" style="display:block"><img
              src="https://img-cld.eximbay.com/images/eximbay_logo_sm_2020.png" alt="eximbay"
              style="width:80%; display:block; margin:0 auto" /></a>
        </td>
        <td width="75%">
          <p style="font:11px/1.7 맑은고딕, 나눔고딕, sans-serif; color: #777; padding:0 0 5px;">
            <strong>(주)엑심베이</strong> <br>
            08390 서울특별시 구로구 디지털로26길 111, 1101호 (구로동, JNK디지털 타워)<br>
            사업자등록번호: 113-86-37262
          </p>
          <p style="font:11px/1.7 맑은고딕, 나눔고딕, sans-serif; color:#777; margin:0;">Copyright © Eximbay.
            All Rights Reserved</p>
        </td>
      </tr>
    </table>
  </div>
</body>

</html>